*{
    margin: 0;
    padding: 0;
 }
 
 
 .li{
    display: flex;
    list-style: none;
    text-align: center;
 }
 li{
    margin-right: 34px;
 }
 
 .conteiner{
 
    max-width: 1250px;
    margin: 0 auto;
 }
 .h__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .conteiner{
    align-items: center;
 }
 
 
 .burger__conteiner{
    height: 80px;
    width: 90px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s linear;
    display: none;
 }
 
 
 
 .burger__conteiner .menu{
    position: relative;
    height: 5;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  
 }
 
 .menu .line{
    position: absolute;
    height: 5px;
    width: 35px;
    border-radius: 6px;
    background-color: #2c3e50;
    transition: all 0.4s linear;
 }
 
 .menu .line.one{
    top: 10px;   
 }
 
 .burger__conteiner.active .line.one{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
 }
 
 .menu .line.three{
    bottom: 10px;   
 }
 
 .menu .line.two{
    left: 0;
 }
 
 .burger__conteiner.active .line.two{
    left: -100%;
    opacity: 0;
 }
 
 
 .burger__conteiner.active .line.three{
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
 
 }
 @media screen and (min-width:320px) and (max-width:480px){
    .conteiner{
       max-width: 320px;
    }
    .burger__conteiner{
        display: block;
        margin-bottom: -80px;
    }
    .li{
       position: relative;
       top: -115px;
       flex-direction: column;
    }
    .img-active{
       position: relative;
       top: -115px;
       flex-direction: column;
    }
    .list-active{
       position: relative;
       top: 68px;
       flex-direction: column;
    }
    .menu{
       display: block;
    }
 }